## List Questions :

1.Write a function that takes a list of numbers and returns the sum using built-in list methods.

In [1]:
a = [2,5,63,45,78,96,45,78,55]
print(sum(a))

467

2.Write a function to remove duplicates from a list.

In [2]:
s = [2,5,4,7,8,6,2,1,4,5,2,3,2,2,8,5,4,6,3,4,8]
def remove_duplicates(s):
    result = []
    for value in s:
        if value not in result:
            result.append(value)

    return result
      
            
remove_duplicates(s)

[2, 5, 4, 7, 8, 6, 1, 3]

3.Write a python program to Flatten a 2D list into a 1D list.

In [3]:
list2d = [[2,5],[4,5],[7,8],[9,4],[6,4],[3,5],[5,8]]
def flatten(x):
    list1d = []
    for value in x:
        for item in value:
            list1d.append(item)
    return list1d
result = flatten(list2d)
print(result)

[2, 5, 4, 5, 7, 8, 9, 4, 6, 4, 3, 5, 5, 8]

4.Write a python program to Rotate the elements of a list to the right by k steps.

In [4]:
l = [56,47,89,23,56,47,26,55]
k = 3
def rotate_list(l,k):
    rotate_l = l[-k:] + l[:-k]
    return rotate_l

result = rotate_list(l,k)
print(result)

[47, 26, 55, 56, 47, 89, 23, 56]

5.Write a python program to Return the second largest number in a list.

In [5]:
l = [56,47,89,23,56,47,26,99,55]
def max_2nd(l):
    max1 = max(l)
    l.remove(max1)
    max2 = max(l)
    print(max2)
    
max_2nd(l)

89

7.Write a python program to Check if List is Palindrome.

In [6]:
value = [1,2,3,2,1]
def pali(value):
    if value == value[::-1]:
        print("list are palindrom")
    else:
        print("list are not palindrom")
pali(value)

list are palindrom

8.Write a python program to Return all elements that appear more than once in a list.

In [7]:
l = [5,69,54,5,26,14,89,14,69,78,33,5,78]
def more_1(value):
    result = []
    for item in value:
        if value.count(item) > 1 and item not in result:
            result.append(item)
    return result
result_l = more_1(l)
print(result_l)

[5, 69, 14, 78]

9.Write a python program to Merge two lists and return a sorted version without duplicates.

In [8]:
l1 = [25,63,45,78,54,25,65,66,1]
l2 = [66,55,54,53,14,75,68,84,89,1,42]
def merged(l1,l2):
    merge = l1 + l2
    new = []
    for item in merge:
        if item not in new:
            new.append(item)

    return sorted(new)
result = merged(l1,l2)
print(result)

[1, 14, 25, 42, 45, 53, 54, 55, 63, 65, 66, 68, 75, 78, 84, 89]

10.Write a python program to Return a list of squares of all even numbers from the original list.

In [9]:
t = [2,6,5,3,4,8,9]
def even_sq(value):
    original = []
    for item in value:
        if item % 2 == 0:
            item = item ** 2
            original.append(item)
    return original
result = even_sq(t)
print(result)

[4, 36, 16, 64]

## Tuple Questions :

1.Write a function to return the first and last elements of a tuple.

In [10]:
a = (2,56,47,2,5,69)
def first_last(elements):
    return elements[0], elements[-1]

result = first_last(a)
print(result)

(2, 69)

2.Write a function that returns True if an element exists in a tuple.

In [11]:
a = (2,56,47,2,5,69)
def exists(x):
    for item in x:
        if element in x:
            return True
        else:
            return False
element = int(input("enter element"))
result = exists(a)
print(result)

enter element 2

True

3. Write a python program to Find the index of the first occurrence of an element in a tuple.

In [13]:
tuple = (12,20,30,23,45,50,60)
element = int(input("enter element"))
def first_occurrence(values):
    if element in values:
        result = values.index(element)

    return result
first_occurrence(tuple)

enter element 12

0

4. Write a python program to Join all items in a tuple into a single string (assume tuple of strings).

In [14]:
names = ("Jayesh","Ramesh","Suresh","Dinesh","Yogesh")
def join_all(names):
    string = ''
    for item in names:
        string += item

    return string

join_all(names)

'JayeshRameshSureshDineshYogesh'

5. Write a python program to Concatenate two tuples and return the result.

In [15]:
t1 = (52,63,45,78,25,93)
t2 = (65,6,78,22,48,33,14,88)
def concatenate(t1,t2):
    t3 = t1 + t2
    return t3
result = concatenate(t1,t2)
print(result)

(52, 63, 45, 78, 25, 93, 65, 6, 78, 22, 48, 33, 14, 88)

6. Write a python program to Return a tuple of common elements from two input tuples.

In [1]:
t1 = (52,63,45,78,25,93,22,88)
t2 = (65,6,78,22,48,33,14,88,63)

def common(t1,t2):
    t3 = []
    for item in t1:
        if item in t2 and item not in t3:
            t3.append(item)
    
    return tuple(t3)
    
result = common(t1,t2)  
print(result)

(63, 78, 22, 88)

7. Write a python program to Sort a tuple of integers in ascending order and return a new tuple.

In [2]:
values = (52,63,45,78,25,93,22,88)
def new_tuple(values):
    new = []
    for item in values:
        new.append(item)
    
    return tuple(sorted(new))

result = new_tuple(values)
print(result)

(22, 25, 45, 52, 63, 78, 88, 93)

8. Write a python program to Given a tuple like (1, 2, (3, 4, 5), 6), return the number 5.

In [4]:
a = (1, 2, (3, 4, 5), 6)
def tuple_in5(a):

    result = a[2][2]
    return result

result = tuple_in5(a)
print(result)

5

9. Write a python program to Flatten ((1, 2), (3, 4), (5, 6)) into (1, 2, 3, 4, 5, 6).

In [5]:
tuple1 = ((1, 2), (3, 4), (5, 6))
def flatten(x):
    tuple2 = []
    for value in x:
        for item in value:
            tuple2.append(item)
    return tuple(tuple2)
result = flatten(tuple1)
print(result)

(1, 2, 3, 4, 5, 6)

10. Write a python program to Remove duplicate elements from a tuple.

In [6]:
s = (2,5,4,7,8,6,2,1,4,5,2,3,2,2,8,5,4,6,3,4,8)
def remove_duplicates(s):
    result = []
    for value in s:
        if value not in result:
            result.append(value)

    return tuple(result)
      
            
remove_duplicates(s)

(2, 5, 4, 7, 8, 6, 1, 3)