Q.1.Write a python program to Group a list of strings into anagram groups.
Example: Input: ["eat", "tea", "tan", "ate", "nat", "bat"] Output: [['eat','tea','ate'], ['tan','nat'], ['bat']]

In [5]:
lst = ["eat", "tea", "tan", "ate", "nat", "bat"]

def angram_groups(lst):
    grp = [] 
    
    for word in lst:
        for word2 in grp:
            if sorted(word) == sorted(word2[0]):  
                word2.append(word) 
                break  
        else:
            grp.append([word])
    return grp  
    
result = angram_groups(lst)
print(result)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

Q.2.Write a Python function that returns all unique 3-character permutations of a given string (without duplicates).

In [7]:
def permutations(n,r):
    # n! / (n - r)!
    fact = 1
    l = len(set(n)) 
    for i in range(l,1,-1):
        fact *= i
        #print(fact)


    choose = (l - r) 
    fact_r = 1
    for j in range(choose,1,-1): 
        fact_r *= j
 

    per = fact // fact_r 
    print(f"we made {r} character word form {n} in {per} ways ")

    
n = input("enter string =")
r = int(input("enter number you want to choose ="))
permutations(n,r)

enter string = python
enter number you want to choose = 3

we made 3 character word form python in 120 ways

Q.3.Write a Python function combination(n, r) that calculates and returns the number of combinations (also known as "n choose r") using the formula:

In [9]:
def combination(n, r):

    # Calculate n!
    fact_n = 1
    for i in range(1, n + 1):
        fact_n *= i

    # Calculate r!
    fact_r = 1
    for i in range(1, r + 1):
        fact_r *= i

    # Calculate (n - r)!
    fact_nr = 1
    for i in range(1, (n - r) + 1):
        fact_nr *= i

    # Combination formula: C(n, r) = n! / (r! * (n - r)!)
    comb = fact_n // (fact_r * fact_nr)
    return comb



n = int(input("enter value of n = "))
r = int(input("enter value of r ="))

result = combination(n, r)
print("combination of n and r =", result)

enter value of n =  6
enter value of r = 3

combination of n and r = 20

Q.4.Write a python program to Return the index of the first non-repeating character.

In [10]:
def non_reapeat(string):

    string1 = sorted(string)
    print(string1)
    for item in string1:
        if string1.count(item) == 1 :
            return string1.index(item),item
            break

result1 = non_reapeat("aabbhhnnkl")
print(result1)

['a', 'a', 'b', 'b', 'h', 'h', 'k', 'l', 'n', 'n']
(6, 'k')

Q.5.Write a python program to Check if Two Strings Are Isomorphic
Each character in s can be replaced to get t — check if mapping is consistent.

In [12]:
def isomorephic(string1, string2):

    
    if len(string1) != len(string2):
        return False
    map1 = {}  
    map2 = {}  
    for i in range(len(string1)):
        c1 = string1[i]  
        c2 = string2[i]  

        if c1 in map1:
            if map1[c1] != c2:
                return False
        else:
            map1[c1] = c2

        if c2 in map2:
            if map2[c2] != c1:
                return False
        else:
            map2[c2] = c1

    return "isomorphic" 


result = isomorephic("abc", "wrr")
print(result)

False

Q.6.Write a python program to Check for Palindrome Permutation
Can a string's characters be rearranged to form a palindrome?

In [16]:
def pali_permu(string):
    string1 = ""   
    coount = 0     

    for item in string:
      
        if item not in string1:
            count = string.count(item)  

           
            if count % 2 != 0:
                coount += 1            

            string1 += item            

    if coount <= 1:
        return "palindrome permutation"   
    else:
        return "not palindrome permutation"    


result = pali_permu("carrace")
print(result)

palindrome permutation

Q.7.Write a python program to Check If a String is a Rotation of Another
"erbottlewat" is a rotation of "waterbottle" .

In [19]:
def rotation(str1, str2):

    if len(str1) != len(str2):
        return False
   
    temp = str1 + str1
    print(temp)  
    return str2 in temp


print(rotation("erbottlewat", "waterbottle"))

erbottlewaterbottlewat
True

Q.8.Write a python program for  two strings s and t where t is s with one extra character, find the added character.

In [28]:
def extra_char(s,t):
    result = ""

    str1 = sorted(s)
    str2 = sorted(t)
   # print(str1)
    #print(str2)
    if len(s) < len(t) :
        for item1 in str2:
            if item1 not in str1:
                result += item1
    if len(s) > len(t) :
        for item2 in str1:
            if item2 not in str2:
                result += item2

    print(f"extra character : {result}")

    
extra_char("abcdef","abcde")

extra character : f

Q.9.Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

In [29]:
def Add():
    nums = [2,7,11,15]
    target = 9
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            if nums[i] + nums[j] == target:
                print([i,j])
Add()

[0, 1]

Q.10. Input: l1 = [2,4,3], l2 = [5,6,4]
Output: [7,0,8]
Explanation: 342 + 465 = 807

In [3]:
def add_two_lists():
    l1 = []  
    l2 = [9,9,9,9]
    st1 = ''.join(str(i) for i in l1) 
    st2 = ''.join(str(j) for j in l2)
    #print(st1)
    #print(st2)
     
    re1 = st1[::-1]
    re2 = st2[::-1]
    #print(re1)
    #print(re2)
    ot = int(re1) + int(re2)
    #print(ot)
    
    result = [int(i) for i in str(ot)]
    print(result[::-1])
        

add_two_lists()

[8, 9, 9, 9, 0, 0, 0, 1]

Q.11. Given a string s consisting of words and spaces, return the length of the last word in the string.

A word is a maximal substring consisting of non-space characters only.

In [4]:
def len_last():
    string = "luffy is still joyboy"
    sepret = string.split(" ")
    last = sepret[-1]
    return len(last)
len_last()

6

Q.12. Write a python program to find the product of the numbers .which is greater than the square of 5 .and addition
    of numbers which is less than the square of 5 .

In [5]:
l = [ 28,33,66,100,16,19,21,18,88] 

greater = list(filter(lambda x : x > 25, l))
print(greater)
lower = list(filter(lambda x : x < 25, l))
print(lower)

from functools import reduce

product = reduce(lambda x,y: x * y, greater)
print(product)
addition = reduce(lambda x, y: x + y, lower)
print(addition)

[28, 33, 66, 100, 88]
[16, 19, 21, 18]
536659200
74

Q.13. Square all numbers in a list.

Input: [1, 2, 3, 4] → Output: [1, 4, 9, 16]

In [6]:
lst = [1,2,3,4]
def square(x):
    return x ** 2

result = list(map(square,lst))
print(result)

[1, 4, 9, 16]

Q.14. Convert a list of strings to uppercase.

Input: ['apple', 'banana'] → Output: ['APPLE', 'BANANA']

In [7]:
st = ['apple', 'banana'] 
def uper(x):
    return x.upper()

result = list(map(uper,st))
print(result)

['APPLE', 'BANANA']

Q.15. Convert temperatures from Celsius to Fahrenheit.

Input: [0, 20, 37] → Output: [32.0, 68.0, 98.6]

In [8]:
cel = [0,20,37]
def cel_to_fah(c):
    f = (9/5 * c) + 32
    return f
    
result = list(map(cel_to_fah,cel))
print(result)

[32.0, 68.0, 98.60000000000001]

Q.16. Filter even numbers from a list.

Input: [1, 2, 3, 4, 5] → Output: [2, 4]

In [9]:
lst = [1, 2, 3, 4, 5]
def even_num(x):
    if x % 2 == 0:
        return x
result = list(filter(even_num,lst))
print(result)

[2, 4]

Q.17. Filter all numbers greater than 10.

Input: [5, 12, 7, 18, 3] → Output: [12, 18]

In [10]:
lst = [5, 12, 7, 18, 3]
def greater_10(x):
    if x > 10:
        return x
result = list(filter(greater_10,lst))
print(result)

[12, 18]

Q.18.Filter prime numbers from a list.

Input: [2, 3, 4, 5, 6, 7] → Output: [2, 3, 5, 7]

In [11]:
lst = [2, 3, 4, 5, 6, 7] 
def prime_num(x):
    if x < 2:
        return False
    for i in range(2,int(x ** 0.5)+ 1):
        if x % i == 0:
            return False
    return True
result = list(filter(prime_num,lst))
print(result)

[2, 3, 5, 7]

Q.19.Print each element of a list with its index.

Input: ['a', 'b', 'c'] → Output: 0 a, 1 b, 2 c

In [12]:
lst = ['a','b','c']
for i,v in enumerate(lst,start = 0):
    print(i,v,end=" ")

0 a 1 b 2 c

Q.20.Find all elements at even indices.

Input: [10, 20, 30, 40, 50] → Output: [10, 30, 50]

In [13]:
lst = [10, 20, 30, 40, 50]
def even_ind(lst):
    lst1 = []
    for index,value in enumerate(lst,start = 0):
        if index % 2 == 0:
            lst1.append(value)
    return lst1

result = even_ind(lst)
print(result)

[10, 30, 50]

Q.21.Sum all elements multiplied by their index.

Input: [1, 2, 3] → Output: 0*1 + 1*2 + 2*3 = 8

In [14]:
lst = [1, 2, 3]
def multi_ind(lst):
    multi = 0
    add = 0
    for index,value in enumerate(lst,start = 0):
        multi = index * value
        add += multi

    return add
result = multi_ind(lst) 
print(result)

8

Q.22.Find the product of all numbers in a list.

Input: [1, 2, 3, 4] → Output: 24

In [15]:
from functools import reduce
lst = [1, 2, 3, 4]
def prod(x,y):
    return x * y

result = reduce(prod,lst)
print(result)

24

Q.23.Find the maximum number in a list.

Input: [5, 9, 2, 7] → Output: 9

In [16]:
from functools import reduce
lst = [5, 9, 2, 7]
def maximum(x,y):
    if x > y :
        return x
    else:
        return y

result = reduce(maximum,lst)
print(result)

9

Q.24.Concatenate all strings in a list.

Input: ['Hello', ' ', 'World'] → Output: 'Hello World'

In [17]:
lst = ['Hello', ' ', 'World']
def con(x,y):
    st = x + y
    return st 
result = reduce(con,lst) 
print(result)

Hello World

Q.25.Sort a list of tuples by the second element.

Input: [(1, 3), (2, 1), (3, 2)] → Output: [(2, 1), (3, 2), (1, 3)]

In [18]:
lst = [(1, 3), (2, 1), (3, 2)]
result = sorted(lst,key = lambda x : x[1])
print(result)

[(2, 1), (3, 2), (1, 3)]

Q.26.Increment all numbers in a list by 5.

Input: [1, 2, 3] → Output: [6, 7, 8]

In [19]:
lst = [1, 2, 3] 
result = list(map(lambda x: x + 5,lst))
print(result)

[6, 7, 8]

Q.27.Filter words starting with a vowel.

Input: ['apple', 'banana', 'orange', 'grape'] → Output: ['apple', 'orange']

In [22]:
lst = ['apple', 'banana', 'orange', 'grape']
vowel = ("a","e","u","i","o")
result = list(filter(lambda x : x[0] in vowel , lst))        
print(result) 
#st = " ".join(str(item) for item in result)
#cap = st.title()
#lst = cap.split()
#print(lst)

['apple', 'orange']

Q.28.Find the index of first occurance in the string.
- Input: haystack = "sadbutsad", needle = "sad"
Output: 0
find longest string in the main string.
- Input: haystack = "leetcode", needle = "leeto"
Output: -1

In [24]:
def longest():
    haystack = "codeleet"
    needle = "leet"
    return haystack.find(needle)
    
   
longest()

4

Q.29.Give a list of squares and return their sqaure roots.
ex: lst = [4,9,16,25,36,49,64,81,100]

In [25]:
lst = [4,9,16,25,36,49,64,81,100,8]
def root(x):
    return x ** 0.5

result = list(map(root,lst))
print(result)

[2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 2.8284271247461903]

Q.30.Write a Python program to find the unique names in a list of students.

In [27]:
lst = ["raj","ramesh","rajesh","raj","yogesh","nilesh","suresh"]
ss = list(set(lst))
print(ss)

['raj', 'rajesh', 'ramesh', 'suresh', 'nilesh', 'yogesh']

Q.31.Write a Python program to find the common friends between two people.

In [28]:
def common_fd():
    p1 = {"raj","ramesh","rajesh","yogesh","nilesh","suresh"}
    p2 = {"suresh","nilesh","akbar","aman","raj","jayesh"}
    return p1.intersection(p2)
common_fd()

{'nilesh', 'raj', 'suresh'}

Q.32.Write a Python program to remove duplicate phone numbers from a contact list.

In [29]:
def dupli_number():
    phone_numbers = ["5551234","5555678","5551234",  "5559012","5553456","5555678",  "5557890","5553456",  "5552222","5557890"   ]
    dupli = []
    for num in phone_numbers:
        if phone_numbers.count(num) > 1 and num not in dupli:
            dupli.append(num)

    return dupli
dupli_number()

['5551234', '5555678', '5553456', '5557890']

Q.33.Write a Python program to find the unique items in a shopping cart.

In [30]:
def shoping_cart():
    shopping_cart = [
    "Milk",
    "Eggs",
    "Bread",
    "Butter",
    "Milk",      
    "Apples",
    "Eggs",       
    "Chicken",
    "Bread",      
    "Tomatoes"
]
    unique = []
    for item in shopping_cart:
        if shopping_cart.count(item) == 1 :
            unique.append(item)

    return unique
shoping_cart()

['Butter', 'Apples', 'Chicken', 'Tomatoes']